<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/normalize.css">
<!--    <link rel="stylesheet" href="/static/admin/CSS/admin/home.css">-->
    <link rel="stylesheet" href="/static/admin/CSS/admin/header.css">
    <link rel="stylesheet" href="/static/admin/CSS/admin/left.css">
    <link rel="stylesheet" href="/static/admin/CSS/admin/adminList.css">
    <link rel="stylesheet" href="/static/admin/CSS/admin/add.css">
    <link rel="stylesheet" href="/static/lib/layui/css/layui.css">
    <link rel="stylesheet" href="/static/lib/iconfont.css">
</head>
<body>
<div id="home">
<!--    header-->
    <header class="header">
        <div class="header-wrap">
            <div class="header-left">
                <div class="logo-wrap">
                    <img src="/static/admin/status/imgs/logo.jpg" alt="logo" class="sys-logo">
                </div>
                <div class="sys-title-wrap">
                    <h1 class="sys-title">欢迎进入用餐管理后台管理</h1>
                </div>
            </div>
            <div class="header-right">
                <div class="username-wrap">
                    <span class="user-icon iconfont icon-user"></span>
                    <span class="username">张三</span>
                </div>
                <div class="back-wrap">
                    <span class="back-icon iconfont icon-tuichu"></span>
                    <span class="back">退出</span>
                </div>
            </div>
        </div>
    </header>
<!--    /header-->