<div class="left-wrap">
    <ul class="nav sidebar-menu">
        <li class="active nav-item">
            <div class="list1">
                <i class="menu-icon glyphicon glyphicon-home"></i>
                <span class="menu-text">统计</span>
            </div>
            <ul class="submenu">
                <li class="list2">
                    <a href="{:url('admin/cate/catelist')}">
                        <span class="list2-menu-text">用户分析</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <div class="list1">
                <i class="menu-icon glyphicon glyphicon glyphicon-th"></i>
                <span class="menu-text">用餐管理</span>
            </div>
            <ul class="submenu">
                <li class="list2">
                    <a href="{:url('admin/cate/catelist')}">
                        <span class="list2-menu-text">用餐信息列表</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <div class="list1">
                <i class="menu-icon glyphicon glyphicon glyphicon-send"></i>
                <span class="menu-text">管理员管理</span>
            </div>
            <ul class="submenu">
                <li class="list2">
                    <a href="{:url('admin/common/commonList')}">
                        <span class="list2-menu-text">管理员列表</span>
                    </a>
                </li>
                <li class="list2">
                    <a href="{:url('admin/common/add')}">
                        <span class="list2-menu-text">添加管理员</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <div class="list1">
                <i class="menu-icon glyphicon glyphicon glyphicon-user"></i>
                <span class="menu-text">病人信息管理</span>
            </div>
            <ul class="submenu">
                <li class="list2">
                    <a href="{:url('admin/cate/catelist')}">
                        <span class="list2-menu-text">病人列表</span>
                    </a>
                </li>
                <li class="list2">
                    <a href="{:url('admin/cate/catelist')}">
                        <span class="list2-menu-text">添加病人</span>
                    </a>
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <div class="list1">
                <i class="menu-icon glyphicon glyphicon-cog"></i>
                <span class="menu-text">设置</span>
            </div>
            <ul class="submenu">
                <li class="list2">
                    <a href="{:url('admin/cate/catelist')}">
                        <span class="list2-menu-text">平台信息</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>